<div class="wrapper-chat">
  <div class="header">
    <input autocomplete="off" type="text" class="form-control input-box" id="filter" placeholder="Filter messages by sender" (input)="handleInput($event)">
  </div>
  <div class="messages" id="message-container">
    <ng-container *ngFor="let message of messages; let i=index">
      <div
        class="wrapper-message"
        [ngClass]="
          message?.nickname === currentUser
            ? 'wrapper-message-input'
            : 'wrapper-message-agent'
        "
      >
        <div class="message">
          <div class="avatar">
            <img
              class="img-circle avatar"
              alt="chat avatar"
              src="{{ message?.image }}"
            />
          </div>
          <div class="box">
            <div class="wrapper-up">
              <span class="user"
                >{{ message?.name }} {{ message?.surname }}</span
              >
              <span class="time">{{
                message?.date | date: "M/d/yyyy HH:mm"
              }}</span>
            </div>
            <div class="message-text-wrapper">
              <div class="message-text">
               <app-read-more [text]="message?.message || ''"
               [maxHeight]="75"></app-read-more>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="chat-messages-create-container">
    <form [formGroup]="chatForm" (ngSubmit)="send()" novalidate>
      <div class="form-group">
          <label class="visually-hidden-focusable" for="message">Chat</label>
          <input autocomplete="off" type="text" class="form-control input-box" id="message" placeholder="Enter note about the precess" formControlName="message">
      </div>
      <div class="text-end">
          <button type="submit" class="btn btn-primary btn-box">Publish</button>
      </div>
  </form>
  </div>
</div>
